### <h1 align="center"> Assignment 12 </h1>
<h3 align="center"> IST 5520: Data Methodologies in Python </h3>
<h3 align="center"> By: SHALINI RALLAPALLI VENKATA </h3>

In [2]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import statsmodels.api as sm
from patsy import dmatrices
from sklearn import model_selection
from sklearn import naive_bayes
from sklearn import metrics
from sklearn import preprocessing
from sklearn import neighbors

c:\users\shalini\envs\ist5520\lib\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## 1.	Read in the dataset.

In [116]:
dat = pd.read_csv("C:/Users/Shalini/Desktop/data methods python/DC_Bike_Rentals.csv")
dat.head(5000)

,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,0,1,0,0,1,9.84,14.395,81,0.0000,16
1,1,1,0,0,1,9.02,13.635,80,0.0000,40
2,2,1,0,0,1,9.02,13.635,80,0.0000,32
3,3,1,0,0,1,9.84,14.395,75,0.0000,13
4,4,1,0,0,1,9.84,14.395,75,0.0000,1
5,5,1,0,0,2,9.84,12.880,75,6.0032,1
6,6,1,0,0,1,9.02,13.635,80,0.0000,2
7,7,1,0,0,1,8.20,12.880,86,0.0000,3
8,8,1,0,0,1,9.84,14.395,75,0.0000,8
9,9,1,0,0,1,13.12,17.425,76,0.0000,14
10,10,1,0,0,1,15.58,19.695,76,16.9979,36
11,11,1,0,0,1,14.76,16.665,81,19.0012,56
12,12,1,0,0,1,17.22,21.210,77,19.0012,84
13,13,1,0,0,2,18.86,22.725,72,19.9995,94
14,14,1,0,0,2,18.86,22.725,72,19.0012,106
15,15,1,0,0,2,18.04,21.970,77,19.9995,110
16,16,1,0,0,2,17.22,21.210,82,19.9995,93
17,17,1,0,0,2,18.04,21.970,82,19.0012,67
18,18,1,0,0,3,17.22,21.210,88,16.9979,35
19,19,1,0,0,3,17.22,21.210,88,16.9979,37
20,20,1,0,0,2,16.40,20.455,87,16.9979,36
21,21,1,0,0,2,16.40,20.455,87,12.9980,34
22,22,1,0,0,2,16.40,20.455,94,15.0013,28
23,23,1,0,0,2,18.86,22.725,88,19.9995,39
24,0,1,0,0,2,18.86,22.725,88,19.9995,17
25,1,1,0,0,2,18.04,21.970,94,16.9979,17
26,2,1,0,0,2,17.22,21.210,100,19.0012,9
27,3,1,0,0,2,18.86,22.725,94,12.9980,6
28,4,1,0,0,2,18.86,22.725,94,12.9980,3
29,6,1,0,0,3,17.22,21.210,77,19.9995,2
...,...,...,...,...,...,...,...,...,...,...
4970,4,4,0,1,1,10.66,12.120,56,19.0012,1
4971,5,4,0,1,1,10.66,12.120,56,16.9979,24
4972,6,4,0,1,1,9.84,10.605,65,19.0012,97
4973,7,4,0,1,1,9.84,10.605,65,23.9994,276
4974,8,4,0,1,1,10.66,11.365,60,22.0028,477
4975,9,4,0,1,1,12.30,13.635,52,22.0028,224
4976,10,4,0,1,1,13.12,15.150,53,19.9995,93
4977,11,4,0,1,1,13.94,15.910,49,16.9979,102
4978,12,4,0,1,1,14.76,17.425,46,15.0013,148
4979,13,4,0,1,1,16.40,20.455,40,15.0013,154
4980,14,4,0,1,1,16.40,20.455,40,15.0013,150
4981,15,4,0,1,1,16.40,20.455,40,15.0013,154
4982,16,4,0,1,1,16.40,20.455,40,12.9980,201
4983,17,4,0,1,1,14.76,17.425,46,8.9981,418
4984,18,4,0,1,1,14.76,18.180,43,7.0015,405
4985,19,4,0,1,1,13.94,17.425,46,7.0015,228
4986,20,4,0,1,1,13.94,17.425,46,7.0015,190
4987,21,4,0,1,1,12.30,15.910,61,7.0015,162
4988,22,4,0,1,1,12.30,16.665,61,0.0000,104
4989,23,4,0,1,1,10.66,14.395,70,6.0032,73
4990,0,4,0,1,1,10.66,14.395,70,6.0032,38
4991,1,4,0,1,1,9.84,14.395,75,0.0000,15
4992,2,4,0,1,1,9.84,14.395,75,0.0000,10
4993,3,4,0,1,1,9.02,13.635,80,0.0000,1
4994,4,4,0,1,1,9.02,13.635,80,0.0000,3
4995,5,4,0,1,1,9.02,12.880,80,6.0032,23
4996,6,4,0,1,1,9.02,13.635,80,0.0000,87
4997,7,4,0,1,1,9.02,12.880,87,6.0032,205
4998,8,4,0,1,1,9.84,14.395,87,0.0000,445
4999,9,4,0,1,1,11.48,15.910,81,0.0000,246

 - hour: hourly time
 - season: 1 = spring, 2 = summer, 3 = fall, 4 = winter 
 - holiday: whether the day is considered a holiday, 1 = yes, 0 = no
 - workingday:  whether the day is neither a weekend nor holiday, 1 = yes, 0 = no
 - weather: 1 = Clear, Few clouds, Partly cloudy, Partly cloudy; 2 = Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds,      Mist; 3 = Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds; 4 = Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 
 - temp: temperature in Celsius
 - atemp: "feels like" temperature in Celsius
 - humidity: relative humidity
 - windspeed: wind speed
  count: number of total rentals (the target we want to predict)

In [4]:
 dat.columns.to_series().groupby(dat.dtypes).groups

{dtype('int64'): Index(['hour', 'season', 'holiday', 'workingday', 'weather', 'humidity',
        'count'],
       dtype='object'),
 dtype('float64'): Index(['temp', 'atemp', 'windspeed'], dtype='object')}

In [117]:
dat.dtypes

hour            int64
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
count           int64
dtype: object

In [118]:
dat['season'].astype('str')

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
10856    4
10857    4
10858    4
10859    4
10860    4
10861    4
10862    4
10863    4
10864    4
10865    4
10866    4
10867    4
10868    4
10869    4
10870    4
10871    4
10872    4
10873    4
10874    4
10875    4
10876    4
10877    4
10878    4
10879    4
10880    4
10881    4
10882    4
10883    4
10884    4
10885    4
Name: season, Length: 10886, dtype: object

In [119]:
dat['holiday'].astype('str')

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
10856    0
10857    0
10858    0
10859    0
10860    0
10861    0
10862    0
10863    0
10864    0
10865    0
10866    0
10867    0
10868    0
10869    0
10870    0
10871    0
10872    0
10873    0
10874    0
10875    0
10876    0
10877    0
10878    0
10879    0
10880    0
10881    0
10882    0
10883    0
10884    0
10885    0
Name: holiday, Length: 10886, dtype: object

In [120]:
dat['workingday'].astype('str')

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
10856    1
10857    1
10858    1
10859    1
10860    1
10861    1
10862    1
10863    1
10864    1
10865    1
10866    1
10867    1
10868    1
10869    1
10870    1
10871    1
10872    1
10873    1
10874    1
10875    1
10876    1
10877    1
10878    1
10879    1
10880    1
10881    1
10882    1
10883    1
10884    1
10885    1
Name: workingday, Length: 10886, dtype: object

In [121]:
dat['weather'].astype('str')

0        1
1        1
2        1
3        1
4        1
5        2
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       2
14       2
15       2
16       2
17       2
18       3
19       3
20       2
21       2
22       2
23       2
24       2
25       2
26       2
27       2
28       2
29       3
        ..
10856    1
10857    1
10858    1
10859    1
10860    1
10861    1
10862    1
10863    1
10864    1
10865    1
10866    1
10867    1
10868    1
10869    1
10870    1
10871    1
10872    1
10873    1
10874    1
10875    1
10876    1
10877    1
10878    1
10879    1
10880    1
10881    1
10882    1
10883    1
10884    1
10885    1
Name: weather, Length: 10886, dtype: object

In [123]:
dat['count_new'] = np.where(dat['count']>=100, 1, 0)

Since the target variable has integer various integer values, creating a new response binary variable such that the count of bike rentals > 100 to have value 1 and less than 100 a value 0

In [124]:
dat.head(5000)

,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,count_new
0,0,1,0,0,1,9.84,14.395,81,0.0000,16,0
1,1,1,0,0,1,9.02,13.635,80,0.0000,40,0
2,2,1,0,0,1,9.02,13.635,80,0.0000,32,0
3,3,1,0,0,1,9.84,14.395,75,0.0000,13,0
4,4,1,0,0,1,9.84,14.395,75,0.0000,1,0
5,5,1,0,0,2,9.84,12.880,75,6.0032,1,0
6,6,1,0,0,1,9.02,13.635,80,0.0000,2,0
7,7,1,0,0,1,8.20,12.880,86,0.0000,3,0
8,8,1,0,0,1,9.84,14.395,75,0.0000,8,0
9,9,1,0,0,1,13.12,17.425,76,0.0000,14,0
10,10,1,0,0,1,15.58,19.695,76,16.9979,36,0
11,11,1,0,0,1,14.76,16.665,81,19.0012,56,0
12,12,1,0,0,1,17.22,21.210,77,19.0012,84,0
13,13,1,0,0,2,18.86,22.725,72,19.9995,94,0
14,14,1,0,0,2,18.86,22.725,72,19.0012,106,1
15,15,1,0,0,2,18.04,21.970,77,19.9995,110,1
16,16,1,0,0,2,17.22,21.210,82,19.9995,93,0
17,17,1,0,0,2,18.04,21.970,82,19.0012,67,0
18,18,1,0,0,3,17.22,21.210,88,16.9979,35,0
19,19,1,0,0,3,17.22,21.210,88,16.9979,37,0
20,20,1,0,0,2,16.40,20.455,87,16.9979,36,0
21,21,1,0,0,2,16.40,20.455,87,12.9980,34,0
22,22,1,0,0,2,16.40,20.455,94,15.0013,28,0
23,23,1,0,0,2,18.86,22.725,88,19.9995,39,0
24,0,1,0,0,2,18.86,22.725,88,19.9995,17,0
25,1,1,0,0,2,18.04,21.970,94,16.9979,17,0
26,2,1,0,0,2,17.22,21.210,100,19.0012,9,0
27,3,1,0,0,2,18.86,22.725,94,12.9980,6,0
28,4,1,0,0,2,18.86,22.725,94,12.9980,3,0
29,6,1,0,0,3,17.22,21.210,77,19.9995,2,0
...,...,...,...,...,...,...,...,...,...,...,...
4970,4,4,0,1,1,10.66,12.120,56,19.0012,1,0
4971,5,4,0,1,1,10.66,12.120,56,16.9979,24,0
4972,6,4,0,1,1,9.84,10.605,65,19.0012,97,0
4973,7,4,0,1,1,9.84,10.605,65,23.9994,276,1
4974,8,4,0,1,1,10.66,11.365,60,22.0028,477,1
4975,9,4,0,1,1,12.30,13.635,52,22.0028,224,1
4976,10,4,0,1,1,13.12,15.150,53,19.9995,93,0
4977,11,4,0,1,1,13.94,15.910,49,16.9979,102,1
4978,12,4,0,1,1,14.76,17.425,46,15.0013,148,1
4979,13,4,0,1,1,16.40,20.455,40,15.0013,154,1
4980,14,4,0,1,1,16.40,20.455,40,15.0013,150,1
4981,15,4,0,1,1,16.40,20.455,40,15.0013,154,1
4982,16,4,0,1,1,16.40,20.455,40,12.9980,201,1
4983,17,4,0,1,1,14.76,17.425,46,8.9981,418,1
4984,18,4,0,1,1,14.76,18.180,43,7.0015,405,1
4985,19,4,0,1,1,13.94,17.425,46,7.0015,228,1
4986,20,4,0,1,1,13.94,17.425,46,7.0015,190,1
4987,21,4,0,1,1,12.30,15.910,61,7.0015,162,1
4988,22,4,0,1,1,12.30,16.665,61,0.0000,104,1
4989,23,4,0,1,1,10.66,14.395,70,6.0032,73,0
4990,0,4,0,1,1,10.66,14.395,70,6.0032,38,0
4991,1,4,0,1,1,9.84,14.395,75,0.0000,15,0
4992,2,4,0,1,1,9.84,14.395,75,0.0000,10,0
4993,3,4,0,1,1,9.02,13.635,80,0.0000,1,0
4994,4,4,0,1,1,9.02,13.635,80,0.0000,3,0
4995,5,4,0,1,1,9.02,12.880,80,6.0032,23,0
4996,6,4,0,1,1,9.02,13.635,80,0.0000,87,0
4997,7,4,0,1,1,9.02,12.880,87,6.0032,205,1
4998,8,4,0,1,1,9.84,14.395,87,0.0000,445,1
4999,9,4,0,1,1,11.48,15.910,81,0.0000,246,1

In [125]:
dat.corr()

,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,count_new
hour,1.000000,-0.006546,-0.000354,0.002780,-0.022740,0.145430,0.140343,-0.278011,0.146631,0.400601,0.498523
season,-0.006546,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.163439,0.174426
holiday,-0.000354,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,-0.005393,-0.012189
workingday,0.002780,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,0.011594,0.046712
weather,-0.022740,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.128655,-0.114606
temp,0.145430,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.394454,0.365675
atemp,0.140343,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.389784,0.363652
humidity,-0.278011,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.317371,-0.306595
windspeed,0.146631,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.101369,0.114394
count,0.400601,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,1.000000,0.697295
count_new,0.498523,0.174426,-0.012189,0.046712,-0.114606,0.365675,0.363652,-0.306595,0.114394,0.697295,1.000000

In [126]:
season = pd.get_dummies(dat['season'], prefix = 'season')
weather = pd.get_dummies(dat['weather'], prefix = 'weather')

In [127]:
# Concat all dummies and continuous variables to create predictors X
X = pd.concat([season,weather,
              dat[['hour','holiday','workingday',
                  'temp','atemp','humidity','windspeed', 'count_new']]
              ],
              axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 16 columns):
season_1      10886 non-null uint8
season_2      10886 non-null uint8
season_3      10886 non-null uint8
season_4      10886 non-null uint8
weather_1     10886 non-null uint8
weather_2     10886 non-null uint8
weather_3     10886 non-null uint8
weather_4     10886 non-null uint8
hour          10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
count_new     10886 non-null int32
dtypes: float64(3), int32(1), int64(4), uint8(8)
memory usage: 723.0 KB

In [128]:
# Normalize columns in X to range [0,1]
X_scale = preprocessing.minmax_scale(X, feature_range=(0, 1), axis=0)
X_scale = pd.DataFrame(X_scale)
X_scale.columns = X.columns

In [129]:
X.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
season_1,10886.0,0.246739,0.431133,0.00,0.0000,0.000,0.0000,1.0000
season_2,10886.0,0.251056,0.433641,0.00,0.0000,0.000,1.0000,1.0000
season_3,10886.0,0.251056,0.433641,0.00,0.0000,0.000,1.0000,1.0000
season_4,10886.0,0.251148,0.433694,0.00,0.0000,0.000,1.0000,1.0000
weather_1,10886.0,0.660665,0.473505,0.00,0.0000,1.000,1.0000,1.0000
weather_2,10886.0,0.260334,0.438837,0.00,0.0000,0.000,1.0000,1.0000
weather_3,10886.0,0.078909,0.269609,0.00,0.0000,0.000,0.0000,1.0000
weather_4,10886.0,0.000092,0.009584,0.00,0.0000,0.000,0.0000,1.0000
hour,10886.0,11.541613,6.915838,0.00,6.0000,12.000,18.0000,23.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
count_new,10886.0,0.603895,0.489109,0.00,0.0000,1.000,1.0000,1.0000

## 2.	Create design matrices to represent X and y.

In [130]:
y, X = dmatrices('count_new ~ hour + season+ holiday + workingday + weather + temp + atemp + humidity + windspeed',
                 data=X,
                 return_type='dataframe')

In [131]:
y.head()

   count_new
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0

In [132]:
X.head()

,Intercept,hour,season[0],season[1],season[2],season[3],holiday,workingday,weather[0],weather[1],weather[2],weather[3],temp,atemp,humidity,windspeed
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.84,14.395,81.0,0.0
1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.02,13.635,80.0,0.0
2,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.02,13.635,80.0,0.0
3,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.84,14.395,75.0,0.0
4,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.84,14.395,75.0,0.0

In [133]:
dat.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
hour,10886.0,11.541613,6.915838,0.00,6.0000,12.000,18.0000,23.0000
season,10886.0,2.506614,1.116174,1.00,2.0000,3.000,4.0000,4.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
weather,10886.0,1.418427,0.633839,1.00,1.0000,1.000,2.0000,4.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
count,10886.0,191.574132,181.144454,1.00,42.0000,145.000,284.0000,977.0000
count_new,10886.0,0.603895,0.489109,0.00,0.0000,1.000,1.0000,1.0000

In [134]:
train_y,test_y,train_X,test_X = model_selection.train_test_split(y, X,
                                                                 test_size=0.3,
                                                                 random_state=123)

In [135]:
train_X.shape

(7620, 16)

In [136]:
train_y.shape

(7620, 1)

In [137]:
test_y.shape

(3266, 1)

In [138]:
test_X.shape

(3266, 16)

In [180]:
# Candidate values of k
k = np.arange(30) + 1

k

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [181]:
para_knn = {'n_neighbors':k}
para_knn

{'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])}

In [182]:
knn = neighbors.KNeighborsClassifier()

In [183]:
from sklearn import grid_search
from sklearn.model_selection import GridSearchCV

In [184]:
grid_knn = model_selection.GridSearchCV(knn, para_knn)

In [185]:
grid_knn.fit(train_X,train_y.values.ravel())

GridSearchCV(cv=None, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [187]:
# Show best parameters
grid_knn.best_params_

{'n_neighbors': 7}

Since the grid_knn is tuned by using the optimal hyper parameter, we can use the grid_knn as the best k-NN model. We don't need to manually train a knn model with k = 7

In [188]:
from sklearn import metrics
import itertools

In [189]:
knn7 = neighbors.KNeighborsClassifier(n_neighbors = 7, 
                                      weights='uniform',                                    
                                      algorithm='auto')
knn7.fit(train_X, train_y)
pred_y_k7 = knn7.predict(test_X)

c:\users\shalini\envs\ist5520\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

In [190]:
# Print confusion matrix
print(metrics.confusion_matrix(test_y, pred_y_k7))

[[1012  262]
 [ 205 1787]]

In [191]:
# Calculate classification accuracy
metrics.accuracy_score(test_y, pred_y_k7)

0.8570116350275566

In [192]:
# Calculate AUC
metrics.roc_auc_score(test_y, pred_y_k7)

0.8457184310239387

In [193]:
# Calculate Cohen's Kappa
metrics.cohen_kappa_score(test_y, pred_y_k7)

0.6970574156502187

In [194]:
# Print classification report
print(metrics.classification_report(test_y, pred_y_k7))

             precision    recall  f1-score   support

        0.0       0.83      0.79      0.81      1274
        1.0       0.87      0.90      0.88      1992

avg / total       0.86      0.86      0.86      3266

The above model predicts the precision, recall, f1-score values for bike rentals count >100 and Bike rentals count<100

In [159]:
from sklearn import tree

In [160]:
np.arange(2,51)

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [161]:
para_dt = {'min_samples_split':np.arange(2,51)}
para_dt

{'min_samples_split': array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])}

In [166]:
dsnt = tree.DecisionTreeClassifier()

In [167]:
grid_dsnt = model_selection.GridSearchCV(dt, para_dt)
grid_dsnt.fit(train_X,train_y)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_split': array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [186]:
# Show best parameters
grid_dsnt.best_params_

{'min_samples_split': 32}

In [169]:
# Predict on test set
pred_y32 = grid_dsnt.predict(test_X)

In [170]:
# Print confusion matrix
print(metrics.confusion_matrix(test_y, pred_y32))

[[1103  171]
 [ 142 1850]]

In [171]:
# Calculate classification accuracy
metrics.accuracy_score(test_y, pred_y32)

0.9041641151255358

In [172]:
# Calculate AUC
metrics.roc_auc_score(test_y, pred_y32)

0.8972459697502727

In [173]:
# Calculate Cohen's Kappa
metrics.cohen_kappa_score(test_y, pred_y32)

0.7977646566803711

In [174]:
# Print classification report
print(metrics.classification_report(test_y, pred_y32))

             precision    recall  f1-score   support

        0.0       0.89      0.87      0.88      1274
        1.0       0.92      0.93      0.92      1992

avg / total       0.90      0.90      0.90      3266

In [176]:
from sklearn import neural_network

In [179]:
para_ann = {'hidden_layer_sizes':[(300,), (250,), (200,), 
                     (150,),  (100,), (50,), (50,10), (9,7,5,3)]}
para_ann

{'hidden_layer_sizes': [(300,),
  (250,),
  (200,),
  (150,),
  (100,),
  (50,),
  (50, 10),
  (9, 7, 5, 3)]}

In [195]:
ann = neural_network.MLPClassifier(max_iter=500)

In [196]:
grid_ann = model_selection.GridSearchCV(ann, para_ann)

In [199]:
grid_ann.fit(train_X,train_y.values.ravel())

GridSearchCV(cv=None, error_score='raise',
       estimator=MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'hidden_layer_sizes': [(300,), (250,), (200,), (150,), (100,), (50,), (50, 10), (9, 7, 5, 3)]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [200]:
# Show best parameters
grid_ann.best_params_

{'hidden_layer_sizes': (9, 7, 5, 3)}

In [206]:
# Predict on test set
pred_yhd = grid_ann.predict(test_X)

In [207]:
# Print confusion matrix
print(metrics.confusion_matrix(test_y, pred_yhd))

[[1046  228]
 [ 201 1791]]

In [209]:
# Calculate classification accuracy
metrics.accuracy_score(test_y, pred_yhd)

0.8686466625842009

In [210]:
# Calculate AUC
metrics.roc_auc_score(test_y, pred_yhd)

0.8600662461462805

In [211]:
# Calculate Cohen's Kappa
metrics.cohen_kappa_score(test_y, pred_yhd)

0.72289353925751

In [212]:
# Print classification report
print(metrics.classification_report(test_y, pred_yhd))

             precision    recall  f1-score   support

        0.0       0.84      0.82      0.83      1274
        1.0       0.89      0.90      0.89      1992

avg / total       0.87      0.87      0.87      3266

In [225]:
para = [grid_knn.best_params_,grid_dt.best_params_,grid_ann.best_params_]

acc = [metrics.accuracy_score(test_y, pred_y_k7),
       metrics.accuracy_score(test_y, pred_y32),
       metrics.accuracy_score(test_y, pred_yhd)]

pre = [metrics.precision_score(test_y, pred_y_k7),
       metrics.precision_score(test_y, pred_y32),
       metrics.precision_score(test_y, pred_yhd)]

rec = [metrics.recall_score(test_y, pred_y_k7),
       metrics.recall_score(test_y, pred_y32),
       metrics.recall_score(test_y, pred_yhd)]

f1  = [metrics.f1_score(test_y, pred_y_k7),
       metrics.f1_score(test_y, pred_y32),
       metrics.f1_score(test_y, pred_yhd)]

In [226]:
pd.DataFrame({'Parameters':para,
              'Accuracy':acc, 'Precision':pre, 'Recall':rec,'F1 Score': f1},
             index = ['k-NN','Classification Tree','Neural Network'])

,Accuracy,F1 Score,Parameters,Precision,Recall
k-NN,0.857012,0.884435,{'n_neighbors': 7},0.872133,0.897088
Classification Tree,0.904164,0.922003,{'min_samples_split': 32},0.915388,0.928715
Neural Network,0.868647,0.893044,"{'hidden_layer_sizes': (9, 7, 5, 3)}",0.887073,0.899096

I can see that the f1 score for the model is highest for Regression tree. Tjhus, the regression tree model has a better performance than other algorithms on this dataset.